Repository SignalK/signalk-server, pull requests merged in 2023-10, with the labels that each got.

#1587 chore: upgrade to canboatjs 2.x and n2k-signalk 3.x
  package.json
  packages/streams/package.json
Labels: feature

#1636 Changed input to optocoupler, new schematics and text regarding invert signal
  docs/src/setup/seatalk/seatalk.md
  docs/src/setup/seatalk/seatalk_circuit_1.jpg
  docs/src/setup/seatalk/seatalk_circuit_3.jpg
  docs/src/setup/seatalk/seatalk_circuit_4.jpg
Labels: doc

#1635 feature: add edit link to docs
  docs/book.toml
Labels: doc

#1642 fix: default cors, add * as an allow-all configuration, don't add localhost to allowed cors hosts
  packages/server-admin-ui/src/views/security/Settings.js
  src/cors.ts
Labels: fix
